#sp1, #sp2 {
    font-size: large;
}

.sp:hover {
    cursor: pointer;
}

.fdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    width: 100%;
}