form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: inline-flex;
    height: 40px;
    width: 200px;
    font-weight: bold;
}

.fdiv {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inDiv {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.inDiv3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 15%;
}

#bt {
    width: 100%;
}

table {
    width: 100%;
}

fieldset {
    width: 100%;
    height: 50px;
    font-size: small;
    text-align: center;
    padding: 5px 20px;
}

legend {
    font-size: medium;
}

input[type=radio] {
    width: 15px;
    height: 15px;
}

table, th, td {
    border: 1px solid #96D4D4;
    border-collapse: collapse;
    height: 25px;
    padding: 5px;
}

th {
    background-color: mediumaquamarine;
    color: whitesmoke;
}

tr:nth-child(even) {
background-color: #D6EEEE;
}

.sp1 {
    text-align: center;
}
.sp2 {
    text-align: left;
}
.sp3 {
    text-align: right;
}