form {
    width: 100%;
}

.fdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    width: 50%;
    text-align: center;
}

#txt2 {
    background-color: aliceblue;
}

input[type=text] {
    width: 80%;
    height: 40px;
    padding: 5px;
}

.div2 {
    width: 25%;
    padding: 10px;
}

.bt11 {
    width: 100%;
}