form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: inline-flex;
    height: 40px;
    width: 200px;
    font-weight: bold;
}

.fdiv {
    width: 100%;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid #96D4D4;
    border-collapse: collapse;
    height: 30px;
    padding: 5px;
}

th {
    background-color: mediumaquamarine;
    color: whitesmoke;
}

tr:nth-child(even) {
background-color: #D6EEEE;
}